.portfolio {
    display: flex;
    gap: var(--gap);
    margin-bottom: 100px;
}

.portfolio-screenshot {
    border-radius: 50%;
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);
}

.portfolio:nth-child(odd) .portfolio-screenshot {
    order: 1;
}

@media (max-width: 37.5rem) {
    .portfolio {
        display: block;
    }
}
